<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>techblag login</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body class="body">

<br>

<form class="login-form">
  <div class="login">
    <input type="text" placeholder="username" name="user" id="username"><br>
    <input type="password" placeholder="password" name="password" id="password"><br>
    <input type="button" value="Login" id="login">
    <input type="button" value="New member? Sign up here" id="new-member">
   
  </div>
</form>
    
<script src="./js/login-signup.js"></script>
</body>
</html>